<%- include('../partial/header') %>

<% let timeConversion = weather.location.localtime[11] + weather.location.localtime[12];   timeConversion = (timeConversion % 12) || 12;  let finalTime = timeConversion; %>


<h1><h7><%= finalTime + weather.location.localtime[13] + weather.location.localtime[14] + weather.location.localtime[15]%></h7></h1>

<div class="container mt-5">
    <div class="justify-content-start">
        <div class="card w-75">
            <div class="card text-bg-dark">
                        <% if (hour.condition.text == 'Clear' ||hour.condition.text == 'Sunny') { %>
                            <img src="../../public/images/cards/sunny.jpg" class="card-img" alt="...">
                        <% } else if (hour.condition.text == 'Cloudy' || hour.condition.text == 'Overcast') {%>
                            <img src="../../public/images/cards/cloudy.jpg" class="card-img" alt="...">
                        <% } else if (hour.condition.text == 'Mist' || hour.condition.text == 'Light drizzle' || hour.condition.text == 'Moderate or heavy rain shower'|| hour.condition.text == 'Patchy light drizzle' || hour.condition.text == 'Light rain' || hour.condition.text == 'Patchy rain possible' || hour.condition.text == 'Patchy light rain' || hour.condition.text == 'Moderate rain' || hour.condition.text == 'Heavy rain' || hour.condition.text == 'Light rain shower' || hour.condition.text == 'Moderate rain at times' || hour.condition.text == 'Heavy rain at times') {%>
                            <img src="../../public/images/cards/rain.jpg" class="card-img" alt="...">
                        <% } else if (hour.condition.text == 'Patchy light rain with thunder' || hour.condition.text == 'Moderate or heavy rain with thunder' || hour.condition.text == 'Torrential rain shower' || hour.condition.text == 'Thundery outbreaks possible') {%>
                            <img src="../../public/images/cards/thunderstorm.jpg" class="card-img" alt="...">
                        <% } else if (hour.condition.text == 'Light snow' || hour.condition.text == 'Light snow showers' || hour.condition.text == 'Patchy snow possible' || hour.condition.text == 'Patchy sleet possible' || hour.condition.text == 'Freezing drizzle' || hour.condition.text == 'Moderate or heavy sleet' || hour.condition.text == 'Patchy light snow' || hour.condition.text == 'Patchy moderate snow' || hour.condition.text == 'Light sleet showers' || hour.condition.text == 'Moderate snow' || hour.condition.text == 'Light sleet' || hour.condition.text == 'Heavy freezing drizzle' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy sleet showers' || hour.condition.text == 'Light showers of ice pellets' || hour.condition.text == 'Moderate or heavy showers of ice pellets' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy freezing rain' || hour.condition.text == 'Ice pellets' || hour.condition.text == 'Patchy heavy snow' || hour.condition.text == 'Light freezing rain') {%>
                            <img src="../../public/images/cards/snow.jpg" class="card-img" alt="...">
                        <% } else if (hour.condition.text == 'Blizzard' || hour.condition.text == 'Blowing snow' || hour.condition.text == 'Heavy snow' || hour.condition.text == 'Patchy light snow with thunder' || hour.condition.text == 'Moderate or heavy snow showers' || hour.condition.text == 'Moderate or heavy snow with thunder') {%>
                            <img src="../../public/images/cards/blizzard.jpg" class="card-img" alt="...">
                            <% } else if (hour.condition.text == 'Partly cloudy') { %>
                                <img src="../../public/images/cards/partlyCloudy.jpg" class="card-img" alt="...">
                        <% } else {%>
                            <img src="../../public/images/cards/windy.jpg" class="card-img" alt="...">
                    <% } %>
                    <!-- <img src="../../public/images/cards/snow.jpg" class="card-img" alt="...">  THIS ONE IS FOR TESTNG -->
                <div class="card-img-overlay">
                    <div class="card-text">
                        <!-- CLEAR -->
                        <% if (hour.condition.text == 'Clear' ||hour.condition.text == 'Sunny') { %>
                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIcon">
                                <!-- CLOUDY -->
                            <% } else if (hour.condition.text == 'Cloudy' || hour.condition.text == 'Overcast') {%>
                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIcon">
                                <!-- RAIN -->
                            <% } else if (hour.condition.text == 'Mist' || hour.condition.text == 'Light drizzle' || hour.condition.text == 'Moderate or heavy rain shower'|| hour.condition.text == 'Patchy light drizzle' || hour.condition.text == 'Light rain' || hour.condition.text == 'Patchy rain possible' || hour.condition.text == 'Patchy light rain' || hour.condition.text == 'Moderate rain' || hour.condition.text == 'Heavy rain' || hour.condition.text == 'Light rain shower' || hour.condition.text == 'Moderate rain at times' || hour.condition.text == 'Heavy rain at times') {%>
                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIcon">
                                <!-- THUNDERSTORM -->
                            <% } else if (hour.condition.text == 'Patchy light rain with thunder' || hour.condition.text == 'Moderate or heavy rain with thunder' || hour.condition.text == 'Torrential rain shower' || hour.condition.text == 'Thundery outbreaks possible') {%>
                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIcon">
                                <!-- SNOW -->
                            <% } else if (hour.condition.text == 'Light snow' || hour.condition.text == 'Light snow showers' || hour.condition.text == 'Patchy snow possible' || hour.condition.text == 'Patchy sleet possible' || hour.condition.text == 'Freezing drizzle' || hour.condition.text == 'Moderate or heavy sleet' || hour.condition.text == 'Patchy light snow' || hour.condition.text == 'Patchy moderate snow' || hour.condition.text == 'Light sleet showers' || hour.condition.text == 'Moderate snow' || hour.condition.text == 'Light sleet' || hour.condition.text == 'Heavy freezing drizzle' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy sleet showers' || hour.condition.text == 'Light showers of ice pellets' || hour.condition.text == 'Moderate or heavy showers of ice pellets' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy freezing rain' || hour.condition.text == 'Ice pellets' || hour.condition.text == 'Patchy heavy snow' || hour.condition.text == 'Light freezing rain') {%>
                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIcon">
                                <!-- BLIZZARD -->
                            <% } else if (hour.condition.text == 'Blizzard' || hour.condition.text == 'Blowing snow' || hour.condition.text == 'Heavy snow' || hour.condition.text == 'Patchy light snow with thunder' || hour.condition.text == 'Moderate or heavy snow showers' || hour.condition.text == 'Moderate or heavy snow with thunder') {%>
                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIcon">
                                <!-- PARTLY CLOUDY -->
                                <% } else if (hour.condition.text == 'Partly cloudy') { %>
                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIcon">
                                <!-- WINDY -->
                            <% } else {%>
                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIcon">
                        <% } %>

                    <h5 class="card-title weatherText2 black"><strong><%= hour.temp_f %>째F</strong></h5>
                    <p class="card-text weatherText black"><strong><%= hour.condition.text %></strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<div id="carouselExample" class="carousel slide slider container bcseashell">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container grid text-center" style="--bs-columns: 3;" data-bs-interval="10000">
                <div class="row justify-content-between">
                    <div class="col col-3">
                        <% if (hour1.condition.text == 'Clear' ||hour1.condition.text == 'Sunny') { %>
                            <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                            <!-- CLOUDY -->
                        <% } else if (hour1.condition.text == 'Cloudy' || hour1.condition.text == 'Overcast') {%>
                            <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                            <!-- RAIN -->
                        <% } else if (hour1.condition.text == 'Mist' || hour1.condition.text == 'Light drizzle' || hour1.condition.text == 'Moderate or heavy rain shower'|| hour1.condition.text == 'Patchy light drizzle' || hour1.condition.text == 'Light rain' || hour1.condition.text == 'Patchy rain possible' || hour1.condition.text == 'Patchy light rain' || hour1.condition.text == 'Moderate rain' || hour1.condition.text == 'Heavy rain' || hour1.condition.text == 'Light rain shower' || hour1.condition.text == 'Moderate rain at times' || hour1.condition.text == 'Heavy rain at times') {%>
                            <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                            <!-- THUNDERSTORM -->
                        <% } else if (hour1.condition.text == 'Patchy light rain with thunder' || hour1.condition.text == 'Moderate or heavy rain with thunder' || hour1.condition.text == 'Torrential rain shower' || hour1.condition.text == 'Thundery outbreaks possible') {%>
                            <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                            <!-- SNOW -->
                        <% } else if (hour1.condition.text == 'Light snow' || hour1.condition.text == 'Light snow showers' || hour1.condition.text == 'Patchy snow possible' || hour1.condition.text == 'Patchy sleet possible' || hour1.condition.text == 'Freezing drizzle' || hour1.condition.text == 'Moderate or heavy sleet' || hour1.condition.text == 'Patchy light snow' || hour1.condition.text == 'Patchy moderate snow' || hour1.condition.text == 'Light sleet showers' || hour1.condition.text == 'Moderate snow' || hour1.condition.text == 'Light sleet' || hour1.condition.text == 'Heavy freezing drizzle' || hour1.condition.text == 'Patchy freezing drizzle possible' || hour1.condition.text == 'Moderate or heavy sleet showers' || hour1.condition.text == 'Light showers of ice pellets' || hour1.condition.text == 'Moderate or heavy showers of ice pellets' || hour1.condition.text == 'Patchy freezing drizzle possible' || hour1.condition.text == 'Moderate or heavy freezing rain' || hour1.condition.text == 'Ice pellets' || hour1.condition.text == 'Patchy heavy snow' || hour1.condition.text == 'Light freezing rain') {%>
                            <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                            <!-- BLIZZARD -->
                        <% } else if (hour1.condition.text == 'Blizzard' || hour1.condition.text == 'Blowing snow' || hour1.condition.text == 'Heavy snow' || hour1.condition.text == 'Patchy light snow with thunder' || hour1.condition.text == 'Moderate or heavy snow showers' || hour1.condition.text == 'Moderate or heavy snow with thunder') {%>
                            <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                            <!-- PARTLY CLOUDY -->
                            <% } else if (hour1.condition.text == 'Partly cloudy') { %>
                                <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                            <!-- WINDY -->
                        <% } else {%>
                            <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                    <% } %>
                    </div>
                    <div class="col col-3">
                        <% if (hour2.condition.text == 'Clear' ||hour2.condition.text == 'Sunny') { %>
                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                <!-- CLOUDY -->
                            <% } else if (hour2.condition.text == 'Cloudy' || hour2.condition.text == 'Overcast') {%>
                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                <!-- RAIN -->
                            <% } else if (hour2.condition.text == 'Mist' || hour2.condition.text == 'Light drizzle' || hour2.condition.text == 'Moderate or heavy rain shower'|| hour2.condition.text == 'Patchy light drizzle' || hour2.condition.text == 'Light rain' || hour2.condition.text == 'Patchy rain possible' || hour2.condition.text == 'Patchy light rain' || hour2.condition.text == 'Moderate rain' || hour2.condition.text == 'Heavy rain' || hour2.condition.text == 'Light rain shower' || hour2.condition.text == 'Moderate rain at times' || hour2.condition.text == 'Heavy rain at times') {%>
                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                <!-- THUNDERSTORM -->
                            <% } else if (hour2.condition.text == 'Patchy light rain with thunder' || hour2.condition.text == 'Moderate or heavy rain with thunder' || hour2.condition.text == 'Torrential rain shower' || hour2.condition.text == 'Thundery outbreaks possible') {%>
                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                <!-- SNOW -->
                            <% } else if (hour2.condition.text == 'Light snow' || hour2.condition.text == 'Light snow showers' || hour2.condition.text == 'Patchy snow possible' || hour2.condition.text == 'Patchy sleet possible' || hour2.condition.text == 'Freezing drizzle' || hour2.condition.text == 'Moderate or heavy sleet' || hour2.condition.text == 'Patchy light snow' || hour2.condition.text == 'Patchy moderate snow' || hour2.condition.text == 'Light sleet showers' || hour2.condition.text == 'Moderate snow' || hour2.condition.text == 'Light sleet' || hour2.condition.text == 'Heavy freezing drizzle' || hour2.condition.text == 'Patchy freezing drizzle possible' || hour2.condition.text == 'Moderate or heavy sleet showers' || hour2.condition.text == 'Light showers of ice pellets' || hour2.condition.text == 'Moderate or heavy showers of ice pellets' || hour2.condition.text == 'Patchy freezing drizzle possible' || hour2.condition.text == 'Moderate or heavy freezing rain' || hour2.condition.text == 'Ice pellets' || hour2.condition.text == 'Patchy heavy snow' || hour2.condition.text == 'Light freezing rain') {%>
                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                <!-- BLIZZARD -->
                            <% } else if (hour2.condition.text == 'Blizzard' || hour2.condition.text == 'Blowing snow' || hour2.condition.text == 'Heavy snow' || hour2.condition.text == 'Patchy light snow with thunder' || hour2.condition.text == 'Moderate or heavy snow showers' || hour2.condition.text == 'Moderate or heavy snow with thunder') {%>
                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                <!-- PARTLY CLOUDY -->
                                <% } else if (hour2.condition.text == 'Partly cloudy') { %>
                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                <!-- WINDY -->
                            <% } else {%>
                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                        <% } %>
                    </div>
                    <div class="col col-3">
                        <% if (hour3.condition.text == 'Clear' ||hour3.condition.text == 'Sunny') { %>
                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                <!-- CLOUDY -->
                            <% } else if (hour3.condition.text == 'Cloudy' || hour3.condition.text == 'Overcast') {%>
                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                <!-- RAIN -->
                            <% } else if (hour3.condition.text == 'Mist' || hour3.condition.text == 'Light drizzle' || hour3.condition.text == 'Moderate or heavy rain shower'|| hour3.condition.text == 'Patchy light drizzle' || hour3.condition.text == 'Light rain' || hour3.condition.text == 'Patchy rain possible' || hour3.condition.text == 'Patchy light rain' || hour3.condition.text == 'Moderate rain' || hour3.condition.text == 'Heavy rain' || hour3.condition.text == 'Light rain shower' || hour3.condition.text == 'Moderate rain at times' || hour3.condition.text == 'Heavy rain at times') {%>
                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                <!-- THUNDERSTORM -->
                            <% } else if (hour3.condition.text == 'Patchy light rain with thunder' || hour3.condition.text == 'Moderate or heavy rain with thunder' || hour3.condition.text == 'Torrential rain shower' || hour3.condition.text == 'Thundery outbreaks possible') {%>
                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                <!-- SNOW -->
                            <% } else if (hour3.condition.text == 'Light snow' || hour3.condition.text == 'Light snow showers' || hour3.condition.text == 'Patchy snow possible' || hour3.condition.text == 'Patchy sleet possible' || hour3.condition.text == 'Freezing drizzle' || hour3.condition.text == 'Moderate or heavy sleet' || hour3.condition.text == 'Patchy light snow' || hour3.condition.text == 'Patchy moderate snow' || hour3.condition.text == 'Light sleet showers' || hour3.condition.text == 'Moderate snow' || hour3.condition.text == 'Light sleet' || hour3.condition.text == 'Heavy freezing drizzle' || hour3.condition.text == 'Patchy freezing drizzle possible' || hour3.condition.text == 'Moderate or heavy sleet showers' || hour3.condition.text == 'Light showers of ice pellets' || hour3.condition.text == 'Moderate or heavy showers of ice pellets' || hour3.condition.text == 'Patchy freezing drizzle possible' || hour3.condition.text == 'Moderate or heavy freezing rain' || hour3.condition.text == 'Ice pellets' || hour3.condition.text == 'Patchy heavy snow' || hour3.condition.text == 'Light freezing rain') {%>
                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                <!-- BLIZZARD -->
                            <% } else if (hour3.condition.text == 'Blizzard' || hour3.condition.text == 'Blowing snow' || hour3.condition.text == 'Heavy snow' || hour3.condition.text == 'Patchy light snow with thunder' || hour3.condition.text == 'Moderate or heavy snow showers' || hour3.condition.text == 'Moderate or heavy snow with thunder') {%>
                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                <!-- PARTLY CLOUDY -->
                                <% } else if (hour3.condition.text == 'Partly cloudy') { %>
                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                <!-- WINDY -->
                            <% } else {%>
                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                        <% } %>
                    </div>
                </div>


                <div class="row justify-content-between">
                    <div class="col col-3">
                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour1.temp_f %>째F</strong></h5>
                    </div>
                    <div class="col col-3">
                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour2.temp_f %>째F</strong></h5>
                    </div>
                    <div class="col col-3">
                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour3.temp_f %>째F</strong></h5>
                    </div>
                </div>


                <div class="row justify-content-between">
                    <div class="col col-3">
                        <h7 class="card-text weatherText blackSmall"><%= hour1.condition.text %></h7>
                    </div>
                    <div class="col col-3">
                        <h7 class="card-text weatherText blackSmall"><%= hour2.condition.text %></h7>
                    </div>
                    <div class="col col-3">
                        <h7 class="card-text weatherText blackSmall"><%= hour3.condition.text %></h7>
                    </div>
                </div>


                <div class="row justify-content-between">
                    <div class="col col-3">
                        <% let timeConversion1 =  hour1.time[11] + hour1.time[12];   timeConversion1 = (timeConversion1 % 12) || 12;  let finalTime1 = timeConversion1; %>
                        <h7><%= finalTime1 + hour1.time[13] + hour1.time[14] + hour1.time[15]%></h7>
                    </div>
                    <div class="col col-3">
                        <% let timeConversion2 = hour2.time[11] + hour2.time[12];   timeConversion2 = (timeConversion2 % 12) || 12;  let finalTime2 = timeConversion2; %>
                        <h7><%= finalTime2 + hour1.time[13] + hour1.time[14] + hour1.time[15]%></h7>
                    </div>
                    <div class="col col-3">
                        <% let timeConversion3 =  hour3.time[11] + hour3.time[12];   timeConversion3 = (timeConversion3 % 12) || 12;  let finalTime3 = timeConversion3; %>
                        <h7><%= finalTime3 + hour1.time[13] + hour1.time[14] + hour1.time[15]%></h7>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="carousel-item">
            <div class="container grid text-center" style="--bs-columns: 3;">
                <div class="row justify-content-between">
                    <div class="col col-3">
                        Howdy
                    </div>
                    <div class="col col-3">
                        Howdy
                    </div>
                    <div class="col col-3">
                        Howdy
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-item">
            <div class="container grid text-center" style="--bs-columns: 3;">
                <div class="row justify-content-between">
                    <div class="col col-3">
                        Howdy
                    </div>
                    <div class="col col-3">
                        Howdy
                    </div>
                    <div class="col col-3">
                        Howdy
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-item">
            <div class="container grid text-center" style="--bs-columns: 3;">
                <div class="row justify-content-between">
                    <div class="col col-3">
                        Howdy
                    </div>
                    <div class="col col-3">
                        Howdy
                    </div>
                    <div class="col col-3">
                        Howdy
                    </div>
                </div>
            </div>
        </div>



        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<%- include('../partial/footer') %>