<%- include('../partial/header') %>

<h1><%=  locName  %></h1>
<h1><%=  locRegion  %></h1>
<h1><%=  locTime  %></h1>
<h1><%=  locDate  %></h1>
<h1><%=  maxTemp  %></h1>
<h1><%=  minTemp  %></h1>
<h1><%=  avrTemp  %></h1>
<h1><%=  maxWind  %></h1>
<h1><%=  totalPrecip  %></h1>
<h1><%=  totalSnow  %></h1>
<h1><%=  humidity  %></h1>
<h1><%=  rainChance  %></h1>
<h1><%=  snowChance  %></h1>
<h1><%=  condition  %></h1>
<h1><%=  time[0]  %></h1>
<h1><%=  temp[0]  %></h1>
<h1><%=  day[0]  %></h1>
<h1><%=  wind[0]  %></h1>
<h1><%=  precip[0]  %></h1>
<h1><%=  snow[0]  %></h1>
<h1><%=  humidity[0]  %></h1>
<h1><%=  cloud[0]  %></h1>
<h1><%=  feelslike[0]  %></h1>
<h1><%=  windchill[0]  %></h1>
<h1><%=  heatindex[0]  %></h1>
<h1><%=  dewpoint[0]  %></h1>
<h1><%=  chanceOfRain[0]  %></h1>
<h1><%=  chanceOfSnow[0]  %></h1>
<h1><%=  visability[0]  %></h1>
<h1><%=  uv[0]  %></h1>

<%- include('../partial/footer') %>