<%- include('../partial/header') %>

<% let timeConversion = weather.location.localtime[11] + weather.location.localtime[12];   timeConversion = (timeConversion % 12) || 12;  let finalTime = timeConversion; %>

<img src="../../public/images/background/gradient darker blue.jpg" class="bg">

<div class="col">
    <img src="../public/images/home/space2.jpg" class="card-img" size="auto">
    <div class="row">
        <div class="card-img-overlay">
            <h1 class="fg"><span style="float:right;"><%= finalTime + weather.location.localtime[13] + weather.location.localtime[14] + weather.location.localtime[15]%></span></h1>
        </div>
    </div>
    <div class="row">
        <div class="card-img-overlay">
            <div class="card-text">
                <!-- CLEAR -->
                <% if (hour.condition.text == 'Clear' ||hour.condition.text == 'Sunny') { %>
                        <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIcon">
                        <!-- CLOUDY -->
                    <% } else if (hour.condition.text == 'Cloudy' || hour.condition.text == 'Overcast') {%>
                        <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIcon">
                        <!-- RAIN -->
                    <% } else if (hour.condition.text == 'Mist' || hour.condition.text == 'Light drizzle' || hour.condition.text == 'Moderate or heavy rain shower'|| hour.condition.text == 'Patchy light drizzle' || hour.condition.text == 'Light rain' || hour.condition.text == 'Patchy rain possible' || hour.condition.text == 'Patchy light rain' || hour.condition.text == 'Moderate rain' || hour.condition.text == 'Heavy rain' || hour.condition.text == 'Light rain shower' || hour.condition.text == 'Moderate rain at times' || hour.condition.text == 'Heavy rain at times') {%>
                        <img src="../../public/images/icons/rain.png" alt="" class="weatherIcon">
                        <!-- THUNDERSTORM -->
                    <% } else if (hour.condition.text == 'Patchy light rain with thunder' || hour.condition.text == 'Moderate or heavy rain with thunder' || hour.condition.text == 'Torrential rain shower' || hour.condition.text == 'Thundery outbreaks possible') {%>
                        <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIcon">
                        <!-- SNOW -->
                    <% } else if (hour.condition.text == 'Light snow' || hour.condition.text == 'Light snow showers' || hour.condition.text == 'Patchy snow possible' || hour.condition.text == 'Patchy sleet possible' || hour.condition.text == 'Freezing drizzle' || hour.condition.text == 'Moderate or heavy sleet' || hour.condition.text == 'Patchy light snow' || hour.condition.text == 'Patchy moderate snow' || hour.condition.text == 'Light sleet showers' || hour.condition.text == 'Moderate snow' || hour.condition.text == 'Light sleet' || hour.condition.text == 'Heavy freezing drizzle' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy sleet showers' || hour.condition.text == 'Light showers of ice pellets' || hour.condition.text == 'Moderate or heavy showers of ice pellets' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy freezing rain' || hour.condition.text == 'Ice pellets' || hour.condition.text == 'Patchy heavy snow' || hour.condition.text == 'Light freezing rain') {%>
                        <img src="../../public/images/icons/snow.png" alt="" class="weatherIcon">
                        <!-- BLIZZARD -->
                    <% } else if (hour.condition.text == 'Blizzard' || hour.condition.text == 'Blowing snow' || hour.condition.text == 'Heavy snow' || hour.condition.text == 'Patchy light snow with thunder' || hour.condition.text == 'Moderate or heavy snow showers' || hour.condition.text == 'Moderate or heavy snow with thunder') {%>
                        <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIcon">
                        <!-- PARTLY CLOUDY -->
                        <% } else if (hour.condition.text == 'Partly cloudy') { %>
                            <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIcon">
                        <!-- WINDY -->
                    <% } else {%>
                        <img src="../../public/images/icons/wind.png" alt="" class="weatherIcon">
                <% } %>
                <h1 class="card-title weatherText2 black"><strong><%= hour.temp_f %>°F</strong></h1>
                <h4 class="card-text weatherText black"><strong><%= hour.condition.text %></strong></h4>
            </div>
        </div>
    </div>


<div class="column front">
    <div class="row">
        <nav class="dropdown">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Hourly Forcast</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Daily Forcast</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
        </div>
    </div>
</div>



<%- include('../partial/footer') %>