<%- include('../partial/header') %>

<h1><%=  locName  %></h1>
<h1><%=  locRegion  %></h1>
<h1><%=  locTime  %></h1>
<h1><%=  locDate  %></h1>
<h1><%=  maxTemp  %></h1>
<h1><%=  minTemp  %></h1>
<h1><%=  avrTemp  %></h1>
<h1><%=  maxWind  %></h1>
<h1><%=  totalPrecip  %></h1>
<h1><%=  totalSnow  %></h1>
<h1><%=  humidity  %></h1>
<h1><%=  rainChance  %></h1>
<h1><%=  snowChance  %></h1>
<h1><%=  condition  %></h1>
<h1><%=  conditionIcon  %></h1>






<%- include('../partial/footer') %>