<%- include('../partial/header') %>

<% let timeConversion = weather.location.localtime[11] + weather.location.localtime[12];   timeConversion = (timeConversion % 12) || 12;  let finalTime = timeConversion; %>

<img src="../../public/images/background/gradient darker blue.jpg" class="bg">

<div class="col">
    <img src="../public/images/home/space2.jpg" class="card-img" size="auto">
    <div class="row">
        <div class="card-img-overlay">
            <h1 class="fg"><span class='time' style="float:right;"><%= finalTime + weather.location.localtime[13] + weather.location.localtime[14] + weather.location.localtime[15]%></span></h1>
        </div>
    </div>
    <div class="row">
        <div class="card-img-overlay">
            <div class="card-text">
                <!-- CLEAR -->
                <% if (hour.condition.text == 'Clear' ||hour.condition.text == 'Sunny') { %>
                        <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIcon">
                        <!-- CLOUDY -->
                    <% } else if (hour.condition.text == 'Cloudy' || hour.condition.text == 'Overcast') {%>
                        <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIcon">
                        <!-- RAIN -->
                    <% } else if (hour.condition.text == 'Mist' || hour.condition.text == 'Light drizzle' || hour.condition.text == 'Moderate or heavy rain shower'|| hour.condition.text == 'Patchy light drizzle' || hour.condition.text == 'Light rain' || hour.condition.text == 'Patchy rain possible' || hour.condition.text == 'Patchy light rain' || hour.condition.text == 'Moderate rain' || hour.condition.text == 'Heavy rain' || hour.condition.text == 'Light rain shower' || hour.condition.text == 'Moderate rain at times' || hour.condition.text == 'Heavy rain at times') {%>
                        <img src="../../public/images/icons/rain.png" alt="" class="weatherIcon">
                        <!-- THUNDERSTORM -->
                    <% } else if (hour.condition.text == 'Patchy light rain with thunder' || hour.condition.text == 'Moderate or heavy rain with thunder' || hour.condition.text == 'Torrential rain shower' || hour.condition.text == 'Thundery outbreaks possible') {%>
                        <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIcon">
                        <!-- SNOW -->
                    <% } else if (hour.condition.text == 'Light snow' || hour.condition.text == 'Light snow showers' || hour.condition.text == 'Patchy snow possible' || hour.condition.text == 'Patchy sleet possible' || hour.condition.text == 'Freezing drizzle' || hour.condition.text == 'Moderate or heavy sleet' || hour.condition.text == 'Patchy light snow' || hour.condition.text == 'Patchy moderate snow' || hour.condition.text == 'Light sleet showers' || hour.condition.text == 'Moderate snow' || hour.condition.text == 'Light sleet' || hour.condition.text == 'Heavy freezing drizzle' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy sleet showers' || hour.condition.text == 'Light showers of ice pellets' || hour.condition.text == 'Moderate or heavy showers of ice pellets' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy freezing rain' || hour.condition.text == 'Ice pellets' || hour.condition.text == 'Patchy heavy snow' || hour.condition.text == 'Light freezing rain') {%>
                        <img src="../../public/images/icons/snow.png" alt="" class="weatherIcon">
                        <!-- BLIZZARD -->
                    <% } else if (hour.condition.text == 'Blizzard' || hour.condition.text == 'Blowing snow' || hour.condition.text == 'Heavy snow' || hour.condition.text == 'Patchy light snow with thunder' || hour.condition.text == 'Moderate or heavy snow showers' || hour.condition.text == 'Moderate or heavy snow with thunder') {%>
                        <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIcon">
                        <!-- PARTLY CLOUDY -->
                    <% } else if (hour.condition.text == 'Partly cloudy') { %>
                            <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIcon">
                        <!-- WINDY -->
                    <% } else {%>
                        <img src="../../public/images/icons/wind.png" alt="" class="weatherIcon">
                <% } %>
                <h1 class="card-title weatherTextTop black"><strong><%= hour.temp_f %>°F</strong></h1>
                <h4 class="card-text weatherTextTopCon black"><strong><%= hour.condition.text %></strong> <span class='location' style="float:right;"><strong><%= weather.location.name %>, <%= weather.location.region %></strong></span></h4>
            </div>
        </div>
    </div>
<div class="column front" data-bs-theme="blue" style="background-color: #00000011;">
    <div class="row" >
        <nav class="dropdown">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Hourly Forecast</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Daily Forecast</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <div id="carouselExample" class="carousel slide slider container">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container grid text-center" style="--bs-columns: 3;" data-bs-interval="10000">
                                <div class="row justify-content-around">
                                    <!-- first icon -->
                                    <div class="col col-3">
                                        <% if (hour1.condition.text == 'Clear' ||hour1.condition.text == 'Sunny') { %>
                                            <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                            <!-- CLOUDY -->
                                        <% } else if (hour1.condition.text == 'Cloudy' || hour1.condition.text == 'Overcast') {%>
                                            <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                            <!-- RAIN -->
                                        <% } else if (hour1.condition.text == 'Mist' || hour1.condition.text == 'Light drizzle' || hour1.condition.text == 'Moderate or heavy rain shower'|| hour1.condition.text == 'Patchy light drizzle' || hour1.condition.text == 'Light rain' || hour1.condition.text == 'Patchy rain possible' || hour1.condition.text == 'Patchy light rain' || hour1.condition.text == 'Moderate rain' || hour1.condition.text == 'Heavy rain' || hour1.condition.text == 'Light rain shower' || hour1.condition.text == 'Moderate rain at times' || hour1.condition.text == 'Heavy rain at times') {%>
                                            <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                            <!-- THUNDERSTORM -->
                                        <% } else if (hour1.condition.text == 'Patchy light rain with thunder' || hour1.condition.text == 'Moderate or heavy rain with thunder' || hour1.condition.text == 'Torrential rain shower' || hour1.condition.text == 'Thundery outbreaks possible') {%>
                                            <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                            <!-- SNOW -->
                                        <% } else if (hour1.condition.text == 'Light snow' || hour1.condition.text == 'Light snow showers' || hour1.condition.text == 'Patchy snow possible' || hour1.condition.text == 'Patchy sleet possible' || hour1.condition.text == 'Freezing drizzle' || hour1.condition.text == 'Moderate or heavy sleet' || hour1.condition.text == 'Patchy light snow' || hour1.condition.text == 'Patchy moderate snow' || hour1.condition.text == 'Light sleet showers' || hour1.condition.text == 'Moderate snow' || hour1.condition.text == 'Light sleet' || hour1.condition.text == 'Heavy freezing drizzle' || hour1.condition.text == 'Patchy freezing drizzle possible' || hour1.condition.text == 'Moderate or heavy sleet showers' || hour1.condition.text == 'Light showers of ice pellets' || hour1.condition.text == 'Moderate or heavy showers of ice pellets' || hour1.condition.text == 'Patchy freezing drizzle possible' || hour1.condition.text == 'Moderate or heavy freezing rain' || hour1.condition.text == 'Ice pellets' || hour1.condition.text == 'Patchy heavy snow' || hour1.condition.text == 'Light freezing rain') {%>
                                            <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                            <!-- BLIZZARD -->
                                        <% } else if (hour1.condition.text == 'Blizzard' || hour1.condition.text == 'Blowing snow' || hour1.condition.text == 'Heavy snow' || hour1.condition.text == 'Patchy light snow with thunder' || hour1.condition.text == 'Moderate or heavy snow showers' || hour1.condition.text == 'Moderate or heavy snow with thunder') {%>
                                            <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                            <!-- PARTLY CLOUDY -->
                                            <% } else if (hour1.condition.text == 'Partly cloudy') { %>
                                                <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                            <!-- WINDY -->
                                        <% } else {%>
                                            <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                    <% } %>
                                    </div>
                                    <!-- second icon -->
                                    <div class="col col-3">
                                        <% if (hour2.condition.text == 'Clear' ||hour2.condition.text == 'Sunny') { %>
                                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                                <!-- CLOUDY -->
                                            <% } else if (hour2.condition.text == 'Cloudy' || hour2.condition.text == 'Overcast') {%>
                                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                                <!-- RAIN -->
                                            <% } else if (hour2.condition.text == 'Mist' || hour2.condition.text == 'Light drizzle' || hour2.condition.text == 'Moderate or heavy rain shower'|| hour2.condition.text == 'Patchy light drizzle' || hour2.condition.text == 'Light rain' || hour2.condition.text == 'Patchy rain possible' || hour2.condition.text == 'Patchy light rain' || hour2.condition.text == 'Moderate rain' || hour2.condition.text == 'Heavy rain' || hour2.condition.text == 'Light rain shower' || hour2.condition.text == 'Moderate rain at times' || hour2.condition.text == 'Heavy rain at times') {%>
                                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                                <!-- THUNDERSTORM -->
                                            <% } else if (hour2.condition.text == 'Patchy light rain with thunder' || hour2.condition.text == 'Moderate or heavy rain with thunder' || hour2.condition.text == 'Torrential rain shower' || hour2.condition.text == 'Thundery outbreaks possible') {%>
                                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                                <!-- SNOW -->
                                            <% } else if (hour2.condition.text == 'Light snow' || hour2.condition.text == 'Light snow showers' || hour2.condition.text == 'Patchy snow possible' || hour2.condition.text == 'Patchy sleet possible' || hour2.condition.text == 'Freezing drizzle' || hour2.condition.text == 'Moderate or heavy sleet' || hour2.condition.text == 'Patchy light snow' || hour2.condition.text == 'Patchy moderate snow' || hour2.condition.text == 'Light sleet showers' || hour2.condition.text == 'Moderate snow' || hour2.condition.text == 'Light sleet' || hour2.condition.text == 'Heavy freezing drizzle' || hour2.condition.text == 'Patchy freezing drizzle possible' || hour2.condition.text == 'Moderate or heavy sleet showers' || hour2.condition.text == 'Light showers of ice pellets' || hour2.condition.text == 'Moderate or heavy showers of ice pellets' || hour2.condition.text == 'Patchy freezing drizzle possible' || hour2.condition.text == 'Moderate or heavy freezing rain' || hour2.condition.text == 'Ice pellets' || hour2.condition.text == 'Patchy heavy snow' || hour2.condition.text == 'Light freezing rain') {%>
                                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                                <!-- BLIZZARD -->
                                            <% } else if (hour2.condition.text == 'Blizzard' || hour2.condition.text == 'Blowing snow' || hour2.condition.text == 'Heavy snow' || hour2.condition.text == 'Patchy light snow with thunder' || hour2.condition.text == 'Moderate or heavy snow showers' || hour2.condition.text == 'Moderate or heavy snow with thunder') {%>
                                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                                <!-- PARTLY CLOUDY -->
                                                <% } else if (hour2.condition.text == 'Partly cloudy') { %>
                                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                                <!-- WINDY -->
                                            <% } else {%>
                                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                        <% } %>
                                    </div>
                                    <!-- third icon -->
                                    <div class="col col-3">
                                        <% if (hour3.condition.text == 'Clear' ||hour3.condition.text == 'Sunny') { %>
                                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                                <!-- CLOUDY -->
                                            <% } else if (hour3.condition.text == 'Cloudy' || hour3.condition.text == 'Overcast') {%>
                                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                                <!-- RAIN -->
                                            <% } else if (hour3.condition.text == 'Mist' || hour3.condition.text == 'Light drizzle' || hour3.condition.text == 'Moderate or heavy rain shower'|| hour3.condition.text == 'Patchy light drizzle' || hour3.condition.text == 'Light rain' || hour3.condition.text == 'Patchy rain possible' || hour3.condition.text == 'Patchy light rain' || hour3.condition.text == 'Moderate rain' || hour3.condition.text == 'Heavy rain' || hour3.condition.text == 'Light rain shower' || hour3.condition.text == 'Moderate rain at times' || hour3.condition.text == 'Heavy rain at times') {%>
                                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                                <!-- THUNDERSTORM -->
                                            <% } else if (hour3.condition.text == 'Patchy light rain with thunder' || hour3.condition.text == 'Moderate or heavy rain with thunder' || hour3.condition.text == 'Torrential rain shower' || hour3.condition.text == 'Thundery outbreaks possible') {%>
                                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                                <!-- SNOW -->
                                            <% } else if (hour3.condition.text == 'Light snow' || hour3.condition.text == 'Light snow showers' || hour3.condition.text == 'Patchy snow possible' || hour3.condition.text == 'Patchy sleet possible' || hour3.condition.text == 'Freezing drizzle' || hour3.condition.text == 'Moderate or heavy sleet' || hour3.condition.text == 'Patchy light snow' || hour3.condition.text == 'Patchy moderate snow' || hour3.condition.text == 'Light sleet showers' || hour3.condition.text == 'Moderate snow' || hour3.condition.text == 'Light sleet' || hour3.condition.text == 'Heavy freezing drizzle' || hour3.condition.text == 'Patchy freezing drizzle possible' || hour3.condition.text == 'Moderate or heavy sleet showers' || hour3.condition.text == 'Light showers of ice pellets' || hour3.condition.text == 'Moderate or heavy showers of ice pellets' || hour3.condition.text == 'Patchy freezing drizzle possible' || hour3.condition.text == 'Moderate or heavy freezing rain' || hour3.condition.text == 'Ice pellets' || hour3.condition.text == 'Patchy heavy snow' || hour3.condition.text == 'Light freezing rain') {%>
                                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                                <!-- BLIZZARD -->
                                            <% } else if (hour3.condition.text == 'Blizzard' || hour3.condition.text == 'Blowing snow' || hour3.condition.text == 'Heavy snow' || hour3.condition.text == 'Patchy light snow with thunder' || hour3.condition.text == 'Moderate or heavy snow showers' || hour3.condition.text == 'Moderate or heavy snow with thunder') {%>
                                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                                <!-- PARTLY CLOUDY -->
                                                <% } else if (hour3.condition.text == 'Partly cloudy') { %>
                                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                                <!-- WINDY -->
                                            <% } else {%>
                                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                        <% } %>
                                    </div>
                                    <!-- fourth icon -->
                                    <div class="col col-3">
                                        <% if (hour3.condition.text == 'Clear' ||hour3.condition.text == 'Sunny') { %>
                                            <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                            <!-- CLOUDY -->
                                        <% } else if (hour3.condition.text == 'Cloudy' || hour3.condition.text == 'Overcast') {%>
                                            <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                            <!-- RAIN -->
                                        <% } else if (hour3.condition.text == 'Mist' || hour3.condition.text == 'Light drizzle' || hour3.condition.text == 'Moderate or heavy rain shower'|| hour3.condition.text == 'Patchy light drizzle' || hour3.condition.text == 'Light rain' || hour3.condition.text == 'Patchy rain possible' || hour3.condition.text == 'Patchy light rain' || hour3.condition.text == 'Moderate rain' || hour3.condition.text == 'Heavy rain' || hour3.condition.text == 'Light rain shower' || hour3.condition.text == 'Moderate rain at times' || hour3.condition.text == 'Heavy rain at times') {%>
                                            <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                            <!-- THUNDERSTORM -->
                                        <% } else if (hour3.condition.text == 'Patchy light rain with thunder' || hour3.condition.text == 'Moderate or heavy rain with thunder' || hour3.condition.text == 'Torrential rain shower' || hour3.condition.text == 'Thundery outbreaks possible') {%>
                                            <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                            <!-- SNOW -->
                                        <% } else if (hour3.condition.text == 'Light snow' || hour3.condition.text == 'Light snow showers' || hour3.condition.text == 'Patchy snow possible' || hour3.condition.text == 'Patchy sleet possible' || hour3.condition.text == 'Freezing drizzle' || hour3.condition.text == 'Moderate or heavy sleet' || hour3.condition.text == 'Patchy light snow' || hour3.condition.text == 'Patchy moderate snow' || hour3.condition.text == 'Light sleet showers' || hour3.condition.text == 'Moderate snow' || hour3.condition.text == 'Light sleet' || hour3.condition.text == 'Heavy freezing drizzle' || hour3.condition.text == 'Patchy freezing drizzle possible' || hour3.condition.text == 'Moderate or heavy sleet showers' || hour3.condition.text == 'Light showers of ice pellets' || hour3.condition.text == 'Moderate or heavy showers of ice pellets' || hour3.condition.text == 'Patchy freezing drizzle possible' || hour3.condition.text == 'Moderate or heavy freezing rain' || hour3.condition.text == 'Ice pellets' || hour3.condition.text == 'Patchy heavy snow' || hour3.condition.text == 'Light freezing rain') {%>
                                            <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                            <!-- BLIZZARD -->
                                        <% } else if (hour3.condition.text == 'Blizzard' || hour3.condition.text == 'Blowing snow' || hour3.condition.text == 'Heavy snow' || hour3.condition.text == 'Patchy light snow with thunder' || hour3.condition.text == 'Moderate or heavy snow showers' || hour3.condition.text == 'Moderate or heavy snow with thunder') {%>
                                            <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                            <!-- PARTLY CLOUDY -->
                                            <% } else if (hour3.condition.text == 'Partly cloudy') { %>
                                                <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                            <!-- WINDY -->
                                        <% } else {%>
                                            <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                    <% } %>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- first temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour1.temp_f %>°F</strong></h5>
                                    </div>
                                    <!-- second temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour2.temp_f %>°F</strong></h5>
                                    </div>
                                    <!-- third temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour3.temp_f %>°F</strong></h5>
                                    </div>
                                    <!-- fourth temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour4.temp_f %>°F</strong></h5>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- first condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour1.condition.text %></h7>
                                    </div>
                                    <!-- second condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour2.condition.text %></h7>
                                    </div>
                                    <!-- third condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour3.condition.text %></h7>
                                    </div>
                                    <!-- fourth condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour3.condition.text %></h7>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- first time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion1 =  hour1.time[11] + hour1.time[12];   timeConversion1 = (timeConversion1 % 12) || 12;  let finalTime1 = timeConversion1; %>
                                        <h7><%= finalTime1 + hour1.time[13] + hour1.time[14] + hour1.time[15]%></h7>
                                    </div>
                                    <!-- second time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion2 = hour2.time[11] + hour2.time[12];   timeConversion2 = (timeConversion2 % 12) || 12;  let finalTime2 = timeConversion2; %>
                                        <h7><%= finalTime2 + hour2.time[13] + hour2.time[14] + hour2.time[15]%></h7>
                                    </div>
                                    <!-- third time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion3 =  hour3.time[11] + hour3.time[12];   timeConversion3 = (timeConversion3 % 12) || 12;  let finalTime3 = timeConversion3; %>
                                        <h7><%= finalTime3 + hour3.time[13] + hour3.time[14] + hour3.time[15]%></h7>
                                    </div>
                                    <!-- fourth time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion4 =  hour4.time[11] + hour4.time[12];   timeConversion4 = (timeConversion4 % 12) || 12;  let finalTime4 = timeConversion4; %>
                                        <h7><%= finalTime4 + hour4.time[13] + hour4.time[14] + hour4.time[15]%></h7>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carosel 2 -->
                        <div class="carousel-item">
                            <div class="container grid text-center" style="--bs-columns: 3;" data-bs-interval="10000">
                                <div class="row justify-content-around">
                                    <!-- fifth icon -->
                                    <div class="col col-3">
                                        <% if (hour4.condition.text == 'Clear' ||hour4.condition.text == 'Sunny') { %>
                                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                                <!-- CLOUDY -->
                                            <% } else if (hour4.condition.text == 'Cloudy' || hour4.condition.text == 'Overcast') {%>
                                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                                <!-- RAIN -->
                                            <% } else if (hour4.condition.text == 'Mist' || hour4.condition.text == 'Light drizzle' || hour4.condition.text == 'Moderate or heavy rain shower'|| hour4.condition.text == 'Patchy light drizzle' || hour4.condition.text == 'Light rain' || hour4.condition.text == 'Patchy rain possible' || hour4.condition.text == 'Patchy light rain' || hour4.condition.text == 'Moderate rain' || hour4.condition.text == 'Heavy rain' || hour4.condition.text == 'Light rain shower' || hour4.condition.text == 'Moderate rain at times' || hour4.condition.text == 'Heavy rain at times') {%>
                                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                                <!-- THUNDERSTORM -->
                                            <% } else if (hour4.condition.text == 'Patchy light rain with thunder' || hour4.condition.text == 'Moderate or heavy rain with thunder' || hour4.condition.text == 'Torrential rain shower' || hour4.condition.text == 'Thundery outbreaks possible') {%>
                                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                                <!-- SNOW -->
                                            <% } else if (hour4.condition.text == 'Light snow' || hour4.condition.text == 'Light snow showers' || hour4.condition.text == 'Patchy snow possible' || hour4.condition.text == 'Patchy sleet possible' || hour4.condition.text == 'Freezing drizzle' || hour4.condition.text == 'Moderate or heavy sleet' || hour4.condition.text == 'Patchy light snow' || hour4.condition.text == 'Patchy moderate snow' || hour4.condition.text == 'Light sleet showers' || hour4.condition.text == 'Moderate snow' || hour4.condition.text == 'Light sleet' || hour4.condition.text == 'Heavy freezing drizzle' || hour4.condition.text == 'Patchy freezing drizzle possible' || hour4.condition.text == 'Moderate or heavy sleet showers' || hour4.condition.text == 'Light showers of ice pellets' || hour4.condition.text == 'Moderate or heavy showers of ice pellets' || hour4.condition.text == 'Patchy freezing drizzle possible' || hour4.condition.text == 'Moderate or heavy freezing rain' || hour4.condition.text == 'Ice pellets' || hour4.condition.text == 'Patchy heavy snow' || hour4.condition.text == 'Light freezing rain') {%>
                                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                                <!-- BLIZZARD -->
                                            <% } else if (hour4.condition.text == 'Blizzard' || hour4.condition.text == 'Blowing snow' || hour4.condition.text == 'Heavy snow' || hour4.condition.text == 'Patchy light snow with thunder' || hour4.condition.text == 'Moderate or heavy snow showers' || hour4.condition.text == 'Moderate or heavy snow with thunder') {%>
                                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                                <!-- PARTLY CLOUDY -->
                                                <% } else if (hour4.condition.text == 'Partly cloudy') { %>
                                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                                <!-- WINDY -->
                                            <% } else {%>
                                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                        <% } %>
                                    </div>
                                    <!-- sixth icon -->
                                    <div class="col col-3">
                                        <% if (hour5.condition.text == 'Clear' ||hour5.condition.text == 'Sunny') { %>
                                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                                <!-- CLOUDY -->
                                            <% } else if (hour5.condition.text == 'Cloudy' || hour5.condition.text == 'Overcast') {%>
                                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                                <!-- RAIN -->
                                            <% } else if (hour5.condition.text == 'Mist' || hour5.condition.text == 'Light drizzle' || hour5.condition.text == 'Moderate or heavy rain shower'|| hour5.condition.text == 'Patchy light drizzle' || hour5.condition.text == 'Light rain' || hour5.condition.text == 'Patchy rain possible' || hour5.condition.text == 'Patchy light rain' || hour5.condition.text == 'Moderate rain' || hour5.condition.text == 'Heavy rain' || hour5.condition.text == 'Light rain shower' || hour5.condition.text == 'Moderate rain at times' || hour5.condition.text == 'Heavy rain at times') {%>
                                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                                <!-- THUNDERSTORM -->
                                            <% } else if (hour5.condition.text == 'Patchy light rain with thunder' || hour5.condition.text == 'Moderate or heavy rain with thunder' || hour5.condition.text == 'Torrential rain shower' || hour5.condition.text == 'Thundery outbreaks possible') {%>
                                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                                <!-- SNOW -->
                                            <% } else if (hour5.condition.text == 'Light snow' || hour5.condition.text == 'Light snow showers' || hour5.condition.text == 'Patchy snow possible' || hour5.condition.text == 'Patchy sleet possible' || hour5.condition.text == 'Freezing drizzle' || hour5.condition.text == 'Moderate or heavy sleet' || hour5.condition.text == 'Patchy light snow' || hour5.condition.text == 'Patchy moderate snow' || hour5.condition.text == 'Light sleet showers' || hour5.condition.text == 'Moderate snow' || hour5.condition.text == 'Light sleet' || hour5.condition.text == 'Heavy freezing drizzle' || hour5.condition.text == 'Patchy freezing drizzle possible' || hour5.condition.text == 'Moderate or heavy sleet showers' || hour5.condition.text == 'Light showers of ice pellets' || hour5.condition.text == 'Moderate or heavy showers of ice pellets' || hour5.condition.text == 'Patchy freezing drizzle possible' || hour5.condition.text == 'Moderate or heavy freezing rain' || hour5.condition.text == 'Ice pellets' || hour5.condition.text == 'Patchy heavy snow' || hour5.condition.text == 'Light freezing rain') {%>
                                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                                <!-- BLIZZARD -->
                                            <% } else if (hour5.condition.text == 'Blizzard' || hour5.condition.text == 'Blowing snow' || hour5.condition.text == 'Heavy snow' || hour5.condition.text == 'Patchy light snow with thunder' || hour5.condition.text == 'Moderate or heavy snow showers' || hour5.condition.text == 'Moderate or heavy snow with thunder') {%>
                                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                                <!-- PARTLY CLOUDY -->
                                                <% } else if (hour5.condition.text == 'Partly cloudy') { %>
                                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                                <!-- WINDY -->
                                            <% } else {%>
                                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                        <% } %>
                                    </div>
                                    <!-- seventh icon -->
                                    <div class="col col-3">
                                        <% if (hour6.condition.text == 'Clear' ||hour6.condition.text == 'Sunny') { %>
                                            <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                            <!-- CLOUDY -->
                                        <% } else if (hour6.condition.text == 'Cloudy' || hour6.condition.text == 'Overcast') {%>
                                            <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                            <!-- RAIN -->
                                        <% } else if (hour6.condition.text == 'Mist' || hour6.condition.text == 'Light drizzle' || hour6.condition.text == 'Moderate or heavy rain shower'|| hour6.condition.text == 'Patchy light drizzle' || hour6.condition.text == 'Light rain' || hour6.condition.text == 'Patchy rain possible' || hour6.condition.text == 'Patchy light rain' || hour6.condition.text == 'Moderate rain' || hour6.condition.text == 'Heavy rain' || hour6.condition.text == 'Light rain shower' || hour6.condition.text == 'Moderate rain at times' || hour6.condition.text == 'Heavy rain at times') {%>
                                            <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                            <!-- THUNDERSTORM -->
                                        <% } else if (hour6.condition.text == 'Patchy light rain with thunder' || hour6.condition.text == 'Moderate or heavy rain with thunder' || hour6.condition.text == 'Torrential rain shower' || hour6.condition.text == 'Thundery outbreaks possible') {%>
                                            <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                            <!-- SNOW -->
                                        <% } else if (hour6.condition.text == 'Light snow' || hour6.condition.text == 'Light snow showers' || hour6.condition.text == 'Patchy snow possible' || hour6.condition.text == 'Patchy sleet possible' || hour6.condition.text == 'Freezing drizzle' || hour6.condition.text == 'Moderate or heavy sleet' || hour6.condition.text == 'Patchy light snow' || hour6.condition.text == 'Patchy moderate snow' || hour6.condition.text == 'Light sleet showers' || hour6.condition.text == 'Moderate snow' || hour6.condition.text == 'Light sleet' || hour6.condition.text == 'Heavy freezing drizzle' || hour6.condition.text == 'Patchy freezing drizzle possible' || hour6.condition.text == 'Moderate or heavy sleet showers' || hour6.condition.text == 'Light showers of ice pellets' || hour6.condition.text == 'Moderate or heavy showers of ice pellets' || hour6.condition.text == 'Patchy freezing drizzle possible' || hour6.condition.text == 'Moderate or heavy freezing rain' || hour6.condition.text == 'Ice pellets' || hour6.condition.text == 'Patchy heavy snow' || hour6.condition.text == 'Light freezing rain') {%>
                                            <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                            <!-- BLIZZARD -->
                                        <% } else if (hour6.condition.text == 'Blizzard' || hour6.condition.text == 'Blowing snow' || hour6.condition.text == 'Heavy snow' || hour6.condition.text == 'Patchy light snow with thunder' || hour6.condition.text == 'Moderate or heavy snow showers' || hour6.condition.text == 'Moderate or heavy snow with thunder') {%>
                                            <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                            <!-- PARTLY CLOUDY -->
                                            <% } else if (hour6.condition.text == 'Partly cloudy') { %>
                                                <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                            <!-- WINDY -->
                                        <% } else {%>
                                            <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                    <% } %>
                                    </div>
                                    <!-- eighth icon -->
                                    <div class="col col-3">
                                        <% if (hour7.condition.text == 'Clear' ||hour7.condition.text == 'Sunny') { %>
                                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                                <!-- CLOUDY -->
                                            <% } else if (hour7.condition.text == 'Cloudy' || hour7.condition.text == 'Overcast') {%>
                                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                                <!-- RAIN -->
                                            <% } else if (hour7.condition.text == 'Mist' || hour7.condition.text == 'Light drizzle' || hour7.condition.text == 'Moderate or heavy rain shower'|| hour7.condition.text == 'Patchy light drizzle' || hour7.condition.text == 'Light rain' || hour7.condition.text == 'Patchy rain possible' || hour7.condition.text == 'Patchy light rain' || hour7.condition.text == 'Moderate rain' || hour7.condition.text == 'Heavy rain' || hour7.condition.text == 'Light rain shower' || hour7.condition.text == 'Moderate rain at times' || hour7.condition.text == 'Heavy rain at times') {%>
                                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                                <!-- THUNDERSTORM -->
                                            <% } else if (hour7.condition.text == 'Patchy light rain with thunder' || hour7.condition.text == 'Moderate or heavy rain with thunder' || hour7.condition.text == 'Torrential rain shower' || hour7.condition.text == 'Thundery outbreaks possible') {%>
                                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                                <!-- SNOW -->
                                            <% } else if (hour7.condition.text == 'Light snow' || hour7.condition.text == 'Light snow showers' || hour7.condition.text == 'Patchy snow possible' || hour7.condition.text == 'Patchy sleet possible' || hour7.condition.text == 'Freezing drizzle' || hour7.condition.text == 'Moderate or heavy sleet' || hour7.condition.text == 'Patchy light snow' || hour7.condition.text == 'Patchy moderate snow' || hour7.condition.text == 'Light sleet showers' || hour7.condition.text == 'Moderate snow' || hour7.condition.text == 'Light sleet' || hour7.condition.text == 'Heavy freezing drizzle' || hour7.condition.text == 'Patchy freezing drizzle possible' || hour7.condition.text == 'Moderate or heavy sleet showers' || hour7.condition.text == 'Light showers of ice pellets' || hour7.condition.text == 'Moderate or heavy showers of ice pellets' || hour7.condition.text == 'Patchy freezing drizzle possible' || hour7.condition.text == 'Moderate or heavy freezing rain' || hour7.condition.text == 'Ice pellets' || hour7.condition.text == 'Patchy heavy snow' || hour7.condition.text == 'Light freezing rain') {%>
                                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                                <!-- BLIZZARD -->
                                            <% } else if (hour7.condition.text == 'Blizzard' || hour7.condition.text == 'Blowing snow' || hour7.condition.text == 'Heavy snow' || hour7.condition.text == 'Patchy light snow with thunder' || hour7.condition.text == 'Moderate or heavy snow showers' || hour7.condition.text == 'Moderate or heavy snow with thunder') {%>
                                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                                <!-- PARTLY CLOUDY -->
                                                <% } else if (hour7.condition.text == 'Partly cloudy') { %>
                                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                                <!-- WINDY -->
                                            <% } else {%>
                                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                        <% } %>
                                    </div>
                                </div>
                                    <!-- fifth temp -->
                                <div class="row justify-content-around">
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour4.temp_f %>°F</strong></h5>
                                    </div>
                                    <!-- sixth temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour5.temp_f %>°F</strong></h5>
                                    </div>
                                    <!-- seventh temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour6.temp_f %>°F</strong></h5>
                                    </div>
                                    <!-- eighth temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour7.temp_f %>°F</strong></h5>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- fifth condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour4.condition.text %></h7>
                                    </div>
                                    <!-- sixth condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour5.condition.text %></h7>
                                    </div>
                                    <!-- seventh condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour6.condition.text %></h7>
                                    </div>
                                    <!-- eigth condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour7.condition.text %></h7>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- fifth time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion5 = hour5.time[11] + hour5.time[12];   timeConversion5 = (timeConversion5 % 12) || 12;  let finalTime5 = timeConversion5; %>
                                        <h7><%= finalTime5 + hour5.time[13] + hour5.time[14] + hour5.time[15]%></h7>
                                    </div>
                                    <!-- sixth time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion6 =  hour6.time[11] + hour6.time[12];   timeConversion6 = (timeConversion6 % 12) || 12;  let finalTime6 = timeConversion6; %>
                                        <h7><%= finalTime6 + hour6.time[13] + hour6.time[14] + hour6.time[15]%></h7>
                                    </div>
                                    <!-- seventh time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion7 =  hour7.time[11] + hour7.time[12];   timeConversion7 = (timeConversion7 % 12) || 12;  let finalTime7 = timeConversion7; %>
                                        <h7><%= finalTime7 + hour7.time[13] + hour7.time[14] + hour7.time[15]%></h7>
                                    </div>
                                    <!-- eighth time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion8 = hour8.time[11] + hour8.time[12];   timeConversion8 = (timeConversion8 % 12) || 12;  let finalTime8 = timeConversion8; %>
                                        <h7><%= finalTime8 + hour8.time[13] + hour8.time[14] + hour8.time[15]%></h7>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carosel 3 -->
                        <div class="carousel-item">
                            <div class="container grid text-center" style="--bs-columns: 3;" data-bs-interval="10000">
                                <div class="row justify-content-around">
                                    <!-- nineth icon -->
                                    <div class="col col-3">
                                        <% if (hour8.condition.text == 'Clear' ||hour8.condition.text == 'Sunny') { %>
                                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                                <!-- CLOUDY -->
                                            <% } else if (hour8.condition.text == 'Cloudy' || hour8.condition.text == 'Overcast') {%>
                                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                                <!-- RAIN -->
                                            <% } else if (hour8.condition.text == 'Mist' || hour8.condition.text == 'Light drizzle' || hour8.condition.text == 'Moderate or heavy rain shower'|| hour8.condition.text == 'Patchy light drizzle' || hour8.condition.text == 'Light rain' || hour8.condition.text == 'Patchy rain possible' || hour8.condition.text == 'Patchy light rain' || hour8.condition.text == 'Moderate rain' || hour8.condition.text == 'Heavy rain' || hour8.condition.text == 'Light rain shower' || hour8.condition.text == 'Moderate rain at times' || hour8.condition.text == 'Heavy rain at times') {%>
                                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                                <!-- THUNDERSTORM -->
                                            <% } else if (hour8.condition.text == 'Patchy light rain with thunder' || hour8.condition.text == 'Moderate or heavy rain with thunder' || hour8.condition.text == 'Torrential rain shower' || hour8.condition.text == 'Thundery outbreaks possible') {%>
                                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                                <!-- SNOW -->
                                            <% } else if (hour8.condition.text == 'Light snow' || hour8.condition.text == 'Light snow showers' || hour8.condition.text == 'Patchy snow possible' || hour8.condition.text == 'Patchy sleet possible' || hour8.condition.text == 'Freezing drizzle' || hour8.condition.text == 'Moderate or heavy sleet' || hour8.condition.text == 'Patchy light snow' || hour8.condition.text == 'Patchy moderate snow' || hour8.condition.text == 'Light sleet showers' || hour8.condition.text == 'Moderate snow' || hour8.condition.text == 'Light sleet' || hour8.condition.text == 'Heavy freezing drizzle' || hour8.condition.text == 'Patchy freezing drizzle possible' || hour8.condition.text == 'Moderate or heavy sleet showers' || hour8.condition.text == 'Light showers of ice pellets' || hour8.condition.text == 'Moderate or heavy showers of ice pellets' || hour8.condition.text == 'Patchy freezing drizzle possible' || hour8.condition.text == 'Moderate or heavy freezing rain' || hour8.condition.text == 'Ice pellets' || hour8.condition.text == 'Patchy heavy snow' || hour8.condition.text == 'Light freezing rain') {%>
                                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                                <!-- BLIZZARD -->
                                            <% } else if (hour8.condition.text == 'Blizzard' || hour8.condition.text == 'Blowing snow' || hour8.condition.text == 'Heavy snow' || hour8.condition.text == 'Patchy light snow with thunder' || hour8.condition.text == 'Moderate or heavy snow showers' || hour8.condition.text == 'Moderate or heavy snow with thunder') {%>
                                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                                <!-- PARTLY CLOUDY -->
                                                <% } else if (hour8.condition.text == 'Partly cloudy') { %>
                                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                                <!-- WINDY -->
                                            <% } else {%>
                                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                        <% } %>
                                    </div>
                                    <!-- tenth icon -->
                                    <div class="col col-3">
                                        <% if (hour9.condition.text == 'Clear' ||hour9.condition.text == 'Sunny') { %>
                                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                                <!-- CLOUDY -->
                                            <% } else if (hour9.condition.text == 'Cloudy' || hour9.condition.text == 'Overcast') {%>
                                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                                <!-- RAIN -->
                                            <% } else if (hour9.condition.text == 'Mist' || hour9.condition.text == 'Light drizzle' || hour9.condition.text == 'Moderate or heavy rain shower'|| hour9.condition.text == 'Patchy light drizzle' || hour9.condition.text == 'Light rain' || hour9.condition.text == 'Patchy rain possible' || hour9.condition.text == 'Patchy light rain' || hour9.condition.text == 'Moderate rain' || hour9.condition.text == 'Heavy rain' || hour9.condition.text == 'Light rain shower' || hour9.condition.text == 'Moderate rain at times' || hour9.condition.text == 'Heavy rain at times') {%>
                                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                                <!-- THUNDERSTORM -->
                                            <% } else if (hour9.condition.text == 'Patchy light rain with thunder' || hour9.condition.text == 'Moderate or heavy rain with thunder' || hour9.condition.text == 'Torrential rain shower' || hour9.condition.text == 'Thundery outbreaks possible') {%>
                                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                                <!-- SNOW -->
                                            <% } else if (hour9.condition.text == 'Light snow' || hour9.condition.text == 'Light snow showers' || hour9.condition.text == 'Patchy snow possible' || hour9.condition.text == 'Patchy sleet possible' || hour9.condition.text == 'Freezing drizzle' || hour9.condition.text == 'Moderate or heavy sleet' || hour9.condition.text == 'Patchy light snow' || hour9.condition.text == 'Patchy moderate snow' || hour9.condition.text == 'Light sleet showers' || hour9.condition.text == 'Moderate snow' || hour9.condition.text == 'Light sleet' || hour9.condition.text == 'Heavy freezing drizzle' || hour9.condition.text == 'Patchy freezing drizzle possible' || hour9.condition.text == 'Moderate or heavy sleet showers' || hour9.condition.text == 'Light showers of ice pellets' || hour9.condition.text == 'Moderate or heavy showers of ice pellets' || hour9.condition.text == 'Patchy freezing drizzle possible' || hour9.condition.text == 'Moderate or heavy freezing rain' || hour9.condition.text == 'Ice pellets' || hour9.condition.text == 'Patchy heavy snow' || hour9.condition.text == 'Light freezing rain') {%>
                                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                                <!-- BLIZZARD -->
                                            <% } else if (hour9.condition.text == 'Blizzard' || hour9.condition.text == 'Blowing snow' || hour9.condition.text == 'Heavy snow' || hour9.condition.text == 'Patchy light snow with thunder' || hour9.condition.text == 'Moderate or heavy snow showers' || hour9.condition.text == 'Moderate or heavy snow with thunder') {%>
                                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                                <!-- PARTLY CLOUDY -->
                                                <% } else if (hour9.condition.text == 'Partly cloudy') { %>
                                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                                <!-- WINDY -->
                                            <% } else {%>
                                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                        <% } %>
                                    </div>
                                    <!-- eleventh icon -->
                                    <div class="col col-3">
                                        <% if (hour10.condition.text == 'Clear' ||hour10.condition.text == 'Sunny') { %>
                                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                                <!-- CLOUDY -->
                                            <% } else if (hour10.condition.text == 'Cloudy' || hour10.condition.text == 'Overcast') {%>
                                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                                <!-- RAIN -->
                                            <% } else if (hour10.condition.text == 'Mist' || hour10.condition.text == 'Light drizzle' || hour10.condition.text == 'Moderate or heavy rain shower'|| hour10.condition.text == 'Patchy light drizzle' || hour10.condition.text == 'Light rain' || hour10.condition.text == 'Patchy rain possible' || hour10.condition.text == 'Patchy light rain' || hour10.condition.text == 'Moderate rain' || hour10.condition.text == 'Heavy rain' || hour10.condition.text == 'Light rain shower' || hour10.condition.text == 'Moderate rain at times' || hour10.condition.text == 'Heavy rain at times') {%>
                                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                                <!-- THUNDERSTORM -->
                                            <% } else if (hour10.condition.text == 'Patchy light rain with thunder' || hour10.condition.text == 'Moderate or heavy rain with thunder' || hour10.condition.text == 'Torrential rain shower' || hour10.condition.text == 'Thundery outbreaks possible') {%>
                                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                                <!-- SNOW -->
                                            <% } else if (hour10.condition.text == 'Light snow' || hour10.condition.text == 'Light snow showers' || hour10.condition.text == 'Patchy snow possible' || hour10.condition.text == 'Patchy sleet possible' || hour10.condition.text == 'Freezing drizzle' || hour10.condition.text == 'Moderate or heavy sleet' || hour10.condition.text == 'Patchy light snow' || hour10.condition.text == 'Patchy moderate snow' || hour10.condition.text == 'Light sleet showers' || hour10.condition.text == 'Moderate snow' || hour10.condition.text == 'Light sleet' || hour10.condition.text == 'Heavy freezing drizzle' || hour10.condition.text == 'Patchy freezing drizzle possible' || hour10.condition.text == 'Moderate or heavy sleet showers' || hour10.condition.text == 'Light showers of ice pellets' || hour10.condition.text == 'Moderate or heavy showers of ice pellets' || hour10.condition.text == 'Patchy freezing drizzle possible' || hour10.condition.text == 'Moderate or heavy freezing rain' || hour10.condition.text == 'Ice pellets' || hour10.condition.text == 'Patchy heavy snow' || hour10.condition.text == 'Light freezing rain') {%>
                                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                                <!-- BLIZZARD -->
                                            <% } else if (hour10.condition.text == 'Blizzard' || hour10.condition.text == 'Blowing snow' || hour10.condition.text == 'Heavy snow' || hour10.condition.text == 'Patchy light snow with thunder' || hour10.condition.text == 'Moderate or heavy snow showers' || hour10.condition.text == 'Moderate or heavy snow with thunder') {%>
                                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                                <!-- PARTLY CLOUDY -->
                                                <% } else if (hour10.condition.text == 'Partly cloudy') { %>
                                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                                <!-- WINDY -->
                                            <% } else {%>
                                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                        <% } %>
                                    </div>
                                    <!-- twelth icon -->
                                    <div class="col col-3">
                                        <% if (hour11.condition.text == 'Clear' ||hour11.condition.text == 'Sunny') { %>
                                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                                <!-- CLOUDY -->
                                            <% } else if (hour11.condition.text == 'Cloudy' || hour11.condition.text == 'Overcast') {%>
                                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                                <!-- RAIN -->
                                            <% } else if (hour11.condition.text == 'Mist' || hour11.condition.text == 'Light drizzle' || hour11.condition.text == 'Moderate or heavy rain shower'|| hour11.condition.text == 'Patchy light drizzle' || hour11.condition.text == 'Light rain' || hour11.condition.text == 'Patchy rain possible' || hour11.condition.text == 'Patchy light rain' || hour11.condition.text == 'Moderate rain' || hour11.condition.text == 'Heavy rain' || hour11.condition.text == 'Light rain shower' || hour11.condition.text == 'Moderate rain at times' || hour11.condition.text == 'Heavy rain at times') {%>
                                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                                <!-- THUNDERSTORM -->
                                            <% } else if (hour11.condition.text == 'Patchy light rain with thunder' || hour11.condition.text == 'Moderate or heavy rain with thunder' || hour11.condition.text == 'Torrential rain shower' || hour11.condition.text == 'Thundery outbreaks possible') {%>
                                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                                <!-- SNOW -->
                                            <% } else if (hour11.condition.text == 'Light snow' || hour11.condition.text == 'Light snow showers' || hour11.condition.text == 'Patchy snow possible' || hour11.condition.text == 'Patchy sleet possible' || hour11.condition.text == 'Freezing drizzle' || hour11.condition.text == 'Moderate or heavy sleet' || hour11.condition.text == 'Patchy light snow' || hour11.condition.text == 'Patchy moderate snow' || hour11.condition.text == 'Light sleet showers' || hour11.condition.text == 'Moderate snow' || hour11.condition.text == 'Light sleet' || hour11.condition.text == 'Heavy freezing drizzle' || hour11.condition.text == 'Patchy freezing drizzle possible' || hour11.condition.text == 'Moderate or heavy sleet showers' || hour11.condition.text == 'Light showers of ice pellets' || hour11.condition.text == 'Moderate or heavy showers of ice pellets' || hour11.condition.text == 'Patchy freezing drizzle possible' || hour11.condition.text == 'Moderate or heavy freezing rain' || hour11.condition.text == 'Ice pellets' || hour11.condition.text == 'Patchy heavy snow' || hour11.condition.text == 'Light freezing rain') {%>
                                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                                <!-- BLIZZARD -->
                                            <% } else if (hour11.condition.text == 'Blizzard' || hour11.condition.text == 'Blowing snow' || hour11.condition.text == 'Heavy snow' || hour11.condition.text == 'Patchy light snow with thunder' || hour11.condition.text == 'Moderate or heavy snow showers' || hour11.condition.text == 'Moderate or heavy snow with thunder') {%>
                                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                                <!-- PARTLY CLOUDY -->
                                                <% } else if (hour11.condition.text == 'Partly cloudy') { %>
                                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                                <!-- WINDY -->
                                            <% } else {%>
                                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                        <% } %>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- nineth temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour8.temp_f %>°F</strong></h5>
                                    </div>
                                    <!-- tenth temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour9.temp_f %>°F</strong></h5>
                                    </div>
                                    <!-- eleventh temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour10.temp_f %>°F</strong></h5>
                                    </div>
                                    <!-- twelth temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= hour11.temp_f %>°F</strong></h5>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- nineth condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour8.condition.text %></h7>
                                    </div>
                                    <!-- tenth condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour9.condition.text %></h7>
                                    </div>
                                    <!-- eleventh condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour10.condition.text %></h7>
                                    </div>
                                    <!-- twelth condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= hour11.condition.text %></h7>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- nineth time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion9 =  hour8.time[11] + hour8.time[12];   timeConversion9 = (timeConversion9 % 12) || 12;  let finalTime9 = timeConversion9; %>
                                        <h7><%= finalTime9 + hour8.time[13] + hour8.time[14] + hour8.time[15]%></h7>
                                    </div>
                                    <!-- tenth time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion10 =  hour9.time[11] + hour9.time[12];   timeConversion10 = (timeConversion10 % 12) || 12;  let finalTime10 = timeConversion10; %>
                                        <h7><%= finalTime10 + hour9.time[13] + hour9.time[14] + hour9.time[15]%></h7>
                                    </div>
                                    <!-- eleventh time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion11 =  hour10.time[11] + hour10.time[12];   timeConversion11 = (timeConversion11 % 12) || 12;  let finalTime11 = timeConversion11; %>
                                        <h7><%= finalTime11 + hour10.time[13] + hour10.time[14] + hour10.time[15]%></h7>
                                    </div>
                                    <!-- twelth time -->
                                    <div class="col col-3 weatherText3">
                                        <% let timeConversion12 =  hour11.time[11] + hour11.time[12];   timeConversion12 = (timeConversion12 % 12) || 12;  let finalTime12 = timeConversion12; %>
                                        <h7><%= finalTime12 + hour11.time[13] + hour11.time[14] + hour11.time[15]%></h7>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div id="carouselExample" class="carousel slide slider container" >
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container grid text-center" style="--bs-columns: 3;" data-bs-interval="10000">
                                <div class="row justify-content-around">
                                    <!-- first icon -->
                                    <div class="col col-3">
                                        <% if (forecast1.day.condition.text == 'Clear' ||forecast1.day.condition.text == 'Sunny') { %>
                                            <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                            <!-- CLOUDY -->
                                        <% } else if (forecast1.day.condition.text == 'Cloudy' || forecast1.day.condition.text == 'Overcast') {%>
                                            <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                            <!-- RAIN -->
                                        <% } else if (forecast1.day.condition.text == 'Mist' || forecast1.day.condition.text == 'Light drizzle' || forecast1.day.condition.text == 'Moderate or heavy rain shower'|| forecast1.day.condition.text == 'Patchy light drizzle' || forecast1.day.condition.text == 'Light rain' || forecast1.day.condition.text == 'Patchy rain possible' || forecast1.day.condition.text == 'Patchy light rain' || forecast1.day.condition.text == 'Moderate rain' || forecast1.day.condition.text == 'Heavy rain' || forecast1.day.condition.text == 'Light rain shower' || forecast1.day.condition.text == 'Moderate rain at times' || forecast1.day.condition.text == 'Heavy rain at times') {%>
                                            <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                            <!-- THUNDERSTORM -->
                                        <% } else if (forecast1.day.condition.text == 'Patchy light rain with thunder' || forecast1.day.condition.text == 'Moderate or heavy rain with thunder' || forecast1.day.condition.text == 'Torrential rain shower' || forecast1.day.condition.text == 'Thundery outbreaks possible') {%>
                                            <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                            <!-- SNOW -->
                                        <% } else if (forecast1.day.condition.text == 'Light snow' || forecast1.day.condition.text == 'Light snow showers' || forecast1.day.condition.text == 'Patchy snow possible' || forecast1.day.condition.text == 'Patchy sleet possible' || forecast1.day.condition.text == 'Freezing drizzle' || forecast1.day.condition.text == 'Moderate or heavy sleet' || forecast1.day.condition.text == 'Patchy light snow' || forecast1.day.condition.text == 'Patchy moderate snow' || forecast1.day.condition.text == 'Light sleet showers' || forecast1.day.condition.text == 'Moderate snow' || forecast1.day.condition.text == 'Light sleet' || forecast1.day.condition.text == 'Heavy freezing drizzle' || forecast1.day.condition.text == 'Patchy freezing drizzle possible' || forecast1.day.condition.text == 'Moderate or heavy sleet showers' || forecast1.day.condition.text == 'Light showers of ice pellets' || forecast1.day.condition.text == 'Moderate or heavy showers of ice pellets' || forecast1.day.condition.text == 'Patchy freezing drizzle possible' || forecast1.day.condition.text == 'Moderate or heavy freezing rain' || forecast1.day.condition.text == 'Ice pellets' || forecast1.day.condition.text == 'Patchy heavy snow' || forecast1.day.condition.text == 'Light freezing rain') {%>
                                            <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                            <!-- BLIZZARD -->
                                        <% } else if (forecast1.day.condition.text == 'Blizzard' || forecast1.day.condition.text == 'Blowing snow' || forecast1.day.condition.text == 'Heavy snow' || forecast1.day.condition.text == 'Patchy light snow with thunder' || forecast1.day.condition.text == 'Moderate or heavy snow showers' || forecast1.day.condition.text == 'Moderate or heavy snow with thunder') {%>
                                            <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                            <!-- PARTLY CLOUDY -->
                                        <% } else if (forecast1.day.condition.text == 'Partly cloudy') { %>
                                                <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                            <!-- WINDY -->
                                        <% } else {%>
                                            <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                    <% } %>
                                    </div>
                                    <!-- second icon -->
                                    <div class="col col-3">
                                        <% if (forecast2.day.condition.text == 'Clear' ||forecast2.day.condition.text == 'Sunny') { %>
                                            <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                            <!-- CLOUDY -->
                                        <% } else if (forecast2.day.condition.text == 'Cloudy' || forecast2.day.condition.text == 'Overcast') {%>
                                            <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                            <!-- RAIN -->
                                        <% } else if (forecast2.day.condition.text == 'Mist' || forecast2.day.condition.text == 'Light drizzle' || forecast2.day.condition.text == 'Moderate or heavy rain shower'|| forecast2.day.condition.text == 'Patchy light drizzle' || forecast2.day.condition.text == 'Light rain' || forecast2.day.condition.text == 'Patchy rain possible' || forecast2.day.condition.text == 'Patchy light rain' || forecast2.day.condition.text == 'Moderate rain' || forecast2.day.condition.text == 'Heavy rain' || forecast2.day.condition.text == 'Light rain shower' || forecast2.day.condition.text == 'Moderate rain at times' || forecast2.day.condition.text == 'Heavy rain at times') {%>
                                            <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                            <!-- THUNDERSTORM -->
                                        <% } else if (forecast2.day.condition.text == 'Patchy light rain with thunder' || forecast2.day.condition.text == 'Moderate or heavy rain with thunder' || forecast2.day.condition.text == 'Torrential rain shower' || forecast2.day.condition.text == 'Thundery outbreaks possible') {%>
                                            <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                            <!-- SNOW -->
                                        <% } else if (forecast2.day.condition.text == 'Light snow' || forecast2.day.condition.text == 'Light snow showers' || forecast2.day.condition.text == 'Patchy snow possible' || forecast2.day.condition.text == 'Patchy sleet possible' || forecast2.day.condition.text == 'Freezing drizzle' || forecast2.day.condition.text == 'Moderate or heavy sleet' || forecast2.day.condition.text == 'Patchy light snow' || forecast2.day.condition.text == 'Patchy moderate snow' || forecast2.day.condition.text == 'Light sleet showers' || forecast2.day.condition.text == 'Moderate snow' || forecast2.day.condition.text == 'Light sleet' || forecast2.day.condition.text == 'Heavy freezing drizzle' || forecast2.day.condition.text == 'Patchy freezing drizzle possible' || forecast2.day.condition.text == 'Moderate or heavy sleet showers' || forecast2.day.condition.text == 'Light showers of ice pellets' || forecast2.day.condition.text == 'Moderate or heavy showers of ice pellets' || forecast2.day.condition.text == 'Patchy freezing drizzle possible' || forecast2.day.condition.text == 'Moderate or heavy freezing rain' || forecast2.day.condition.text == 'Ice pellets' || forecast2.day.condition.text == 'Patchy heavy snow' || forecast2.day.condition.text == 'Light freezing rain') {%>
                                            <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                            <!-- BLIZZARD -->
                                        <% } else if (forecast2.day.condition.text == 'Blizzard' || forecast2.day.condition.text == 'Blowing snow' || forecast2.day.condition.text == 'Heavy snow' || forecast2.day.condition.text == 'Patchy light snow with thunder' || forecast2.day.condition.text == 'Moderate or heavy snow showers' || forecast2.day.condition.text == 'Moderate or heavy snow with thunder') {%>
                                            <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                            <!-- PARTLY CLOUDY -->
                                        <% } else if (forecast2.day.condition.text == 'Partly cloudy') { %>
                                                <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                            <!-- WINDY -->
                                        <% } else {%>
                                            <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                    <% } %>
                                    </div>
                                    <!-- third icon -->
                                    <div class="col col-3">
                                        <% if (forecast3.day.condition.text == 'Clear' ||forecast3.day.condition.text == 'Sunny') { %>
                                            <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconSmall">
                                            <!-- CLOUDY -->
                                        <% } else if (forecast3.day.condition.text == 'Cloudy' || forecast3.day.condition.text == 'Overcast') {%>
                                            <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconSmall">
                                            <!-- RAIN -->
                                        <% } else if (forecast3.day.condition.text == 'Mist' || forecast3.day.condition.text == 'Light drizzle' || forecast3.day.condition.text == 'Moderate or heavy rain shower'|| forecast3.day.condition.text == 'Patchy light drizzle' || forecast3.day.condition.text == 'Light rain' || forecast3.day.condition.text == 'Patchy rain possible' || forecast3.day.condition.text == 'Patchy light rain' || forecast3.day.condition.text == 'Moderate rain' || forecast3.day.condition.text == 'Heavy rain' || forecast3.day.condition.text == 'Light rain shower' || forecast3.day.condition.text == 'Moderate rain at times' || forecast3.day.condition.text == 'Heavy rain at times') {%>
                                            <img src="../../public/images/icons/rain.png" alt="" class="weatherIconSmall">
                                            <!-- THUNDERSTORM -->
                                        <% } else if (forecast3.day.condition.text == 'Patchy light rain with thunder' || forecast3.day.condition.text == 'Moderate or heavy rain with thunder' || forecast3.day.condition.text == 'Torrential rain shower' || forecast3.day.condition.text == 'Thundery outbreaks possible') {%>
                                            <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconSmall">
                                            <!-- SNOW -->
                                        <% } else if (forecast3.day.condition.text == 'Light snow' || forecast3.day.condition.text == 'Light snow showers' || forecast3.day.condition.text == 'Patchy snow possible' || forecast3.day.condition.text == 'Patchy sleet possible' || forecast3.day.condition.text == 'Freezing drizzle' || forecast3.day.condition.text == 'Moderate or heavy sleet' || forecast3.day.condition.text == 'Patchy light snow' || forecast3.day.condition.text == 'Patchy moderate snow' || forecast3.day.condition.text == 'Light sleet showers' || forecast3.day.condition.text == 'Moderate snow' || forecast3.day.condition.text == 'Light sleet' || forecast3.day.condition.text == 'Heavy freezing drizzle' || forecast3.day.condition.text == 'Patchy freezing drizzle possible' || forecast3.day.condition.text == 'Moderate or heavy sleet showers' || forecast3.day.condition.text == 'Light showers of ice pellets' || forecast3.day.condition.text == 'Moderate or heavy showers of ice pellets' || forecast3.day.condition.text == 'Patchy freezing drizzle possible' || forecast3.day.condition.text == 'Moderate or heavy freezing rain' || forecast3.day.condition.text == 'Ice pellets' || forecast3.day.condition.text == 'Patchy heavy snow' || forecast3.day.condition.text == 'Light freezing rain') {%>
                                            <img src="../../public/images/icons/snow.png" alt="" class="weatherIconSmall">
                                            <!-- BLIZZARD -->
                                        <% } else if (forecast3.day.condition.text == 'Blizzard' || forecast3.day.condition.text == 'Blowing snow' || forecast3.day.condition.text == 'Heavy snow' || forecast3.day.condition.text == 'Patchy light snow with thunder' || forecast3.day.condition.text == 'Moderate or heavy snow showers' || forecast3.day.condition.text == 'Moderate or heavy snow with thunder') {%>
                                            <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconSmall">
                                            <!-- PARTLY CLOUDY -->
                                        <% } else if (forecast3.day.condition.text == 'Partly cloudy') { %>
                                                <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconSmall">
                                            <!-- WINDY -->
                                        <% } else {%>
                                            <img src="../../public/images/icons/wind.png" alt="" class="weatherIconSmall">
                                    <% } %>
                                    </div>
                                    <!-- fourth icon -->
                                </div>
                                <div class="row justify-content-around">
                                    <!-- first high temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= forecast1.day.maxtemp_f %>°F</strong></h7>
                                    </div>
                                    <!-- second high temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= forecast2.day.maxtemp_f %>°F</strong></h7>
                                    </div>
                                    <!-- third high temp -->
                                    <div class="col col-3">
                                        <h7 class="card-title weatherText2 blackSmall"><strong><%= forecast3.day.maxtemp_f %>°F</strong></h7>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- first lowtemp -->
                                    <div class="col col-3">
                                        <h9 class="card-title weatherText2 blackSmall"><%= forecast1.day.mintemp_f %>°F</h9>
                                    </div>
                                    <!-- second low temp -->
                                    <div class="col col-3">
                                        <h9 class="card-title weatherText2 blackSmall"><%= forecast2.day.mintemp_f %>°F</h9>
                                    </div>
                                    <!-- third low temp -->
                                    <div class="col col-3">
                                        <h9 class="card-title weatherText2 blackSmall"><%= forecast3.day.mintemp_f %>°F</h9>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- first condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= forecast1.day.condition.text %></h7>
                                    </div>
                                    <!-- second condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= forecast2.day.condition.text %></h7>
                                    </div>
                                    <!-- third condition -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= forecast3.day.condition.text %></h7>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- Day -->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall">Today</h7>
                                    </div>
                                    <!-- Day 2-->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= month1 %> <%= dayConversion1 %></h7>
                                    </div>
                                    <!-- Day 3-->
                                    <div class="col col-3">
                                        <h7 class="card-text weatherText blackSmall"><%= month1 %> <%= dayConversion2 %></h7>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="d-grid gap-2 col-3 mx-auto"><button type="button" class="btn btn-outline-dark favButton"><a href="/favorites"><span class="link">Favorite</span></a></button></div>



<%- include('../partial/footer') %>