<%- include('./partial/header') %>

<img src="../public/images/home/space3.jpg" class="card-img bg1" size="auto">

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<%- include('./partial/footer') %>
