<%- include('./partial/header') %>

<img src="../public/images/home/error.jpg" class="card-img bg1" size="auto">

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<div>
    <img src="../public/images/background/gradient light blue.jpg" class="bg">
</div>

<%- include('./partial/footer') %>
