<%- include('../partial/header') %>

    <img src="../public/images/home/space3.jpg" class="card-img bg1" size="auto">
    <div class="container mt-4">
        <h2 class="underline" ><%= username %>'s favorite locations</h2>
    </div>
    <div class="card container" style="width: 18rem;">
        <div class="card-header">
        <% if (favorites.length >= 1) { %>
                    <h2>Favorites</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <% favorites.forEach((f) => { %>
                    <div class="col">
                        <div class="row">
                            <li class="list-group-item"><a class="noTag" href="/weather/daily/<%= f.lat %>,<%= f.long %>"><%= f.name %>, <%= f.region %></a>
                                <span style="float:right">
                                    <form class="rem" action="/users/delete/<%= f._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-outline-secondary btn-sm" value="ðŸ—‘ï¸">
                                    </form>
                                </span>
                            </li>
                        </div>
                    </div>
                <% })} else { %>
            <h3 class="container mt-5" >Go pick some favorites first!</h3>
        <% } %>
    </div>
    <div>
        <img src="../../public/images/background/gradient multicolor.jpg" class="bg">
    </div>

    <%- include('../partial/footer') %>